#include <windows.h>

1 VERSIONINFO

FILEVERSION 2,10,0
PRODUCTVERSION 2,10,0
FILEFLAGSMASK 0x00
FILEFLAGS 0x00
FILEOS VOS__WINDOWS32
FILETYPE VFT_UNKNOWN
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileVersion",      "2.10.0\0"
            VALUE "ProductVersion",   "2.10.0\0"
        END
    END
END

